<div class="sub-footer">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="sub-footer-inner">
	      <ul>
			<li>
				<div class="lang_menu_container">
					<a class="lang_menu" href="#/">{{ $.Site.Params.footer.language }}</a>
					<div class="lang_menu_content">
						{{ range $.Site.Home.AllTranslations }}
							{{if eq .Lang $.Site.Language.Lang}}
								<a class="lang_selected">{{ .Language.LanguageName }}</a>
							{{else}}
								<a href="{{ .RelPermalink }}">{{ .Language.LanguageName }}</a>
							{{end}}
						<br />
						{{ end }}
						<div class="lang_menu_mask"></div>
					</div>
				</div>
			</li>
			<li><a href="{{ $.Site.Params.footer.imprintUrl }}">{{ $.Site.Params.footer.imprint }}</a></li>
			<li><a href="{{ $.Site.Params.footer.privacyUrl }}">{{ $.Site.Params.footer.privacy }}</a></li>
		  </ul>
        </div>
      </div>
    </div>
  </div>
</div>
