<div class="sub-footer">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="sub-footer-inner">
	      <ul>
			<li>
				<select onchange="location = this.value;">
					<option selected disabled>{{ $.Site.Params.footer.language }}</option>
					{{ range $.Site.Home.AllTranslations }}
					<option value="{{ .RelPermalink }}">{{ .Language.LanguageName }}</a></option>
					{{ end }}
				</select>
			</li>
			<li><a href="{{ $.Site.Params.footer.imprintUrl }}">{{ $.Site.Params.footer.imprint }}</a></li>
			<li><a href="{{ $.Site.Params.footer.privacyUrl }}">{{ $.Site.Params.footer.privacy }}</a></li>
		  </ul>
        </div>
      </div>
    </div>
  </div>
</div>
