<footer id="footer">
	<div id="footer-content">
		{{ if gt (len $.AllTranslations) 0 }}
		<span class="footer-item lang-menu-container">
			<a class="lang-menu" href="#/">{{ i18n "language" }}</a>
			<div class="lang-menu-content">
				{{ range $.AllTranslations }}
					{{ if eq .Lang $.Site.Language.Lang }}
						<span class="lang-selected">{{ .Language.LanguageName }}</span>
					{{ else }}
						<a href="{{ .RelPermalink }}">{{ .Language.LanguageName }}</a>
					{{ end }}
					<br />
				{{ end }}
				<div class="lang-menu-mask"></div>
			</div>
		</span>
		{{ end }}
		{{ range .Site.Menus.footer }}
			<span class="footer-item"><a href="{{ .URL }}">{{ .Name }}</a></span>
		{{ end }}
	</div>
</footer>
