<div class="post-overview">
	<h2 class="post-title"><a href="{{ .RelPermalink }}">{{ .Title }}</a></h2>
	<span class="post-date">{{ .Date.Format "2006-01-02" }}</span>
	<span class="post-tags">
		{{- $taxonomy := "tags" -}}
		{{- with .Param $taxonomy -}}
			{{- $taxonomy | humanize }}:
			{{ range $index, $tag := (first 1 .) -}}
				{{- with $.Site.GetPage (printf "/%s/%s" $taxonomy $tag) -}}
					<a href="{{ .RelPermalink }}">{{ $tag }}</a>
				{{- end -}}
			{{- end -}}
			{{- range $index, $tag := (after 1 .) -}}
				{{- with $.Site.GetPage (printf "/%s/%s" $taxonomy $tag) -}}
					, <a href="{{ .RelPermalink }}">{{ $tag }}</a>
				{{- end -}}
			{{- end -}}
		{{- end -}}
	</span>
	<p class="post-summary">
		{{ .Summary | plainify }}
		{{ if .Truncated }}
			<span class="post-read-more"><a href="{{ .RelPermalink }}">{{ i18n "readMore" }}</a></span>
		{{ end }}
	</p>
</div>
